<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>O'Recipes</title>
</head>
<body>

  <%- include('partials/header') %>

  <main>
    <ul>

      <% let count = 0 %>

      <% for (const recipe of recipes) { %>
        <li>

          <div>

            <a href="/recipes/<%= recipe.name %>">

            <%= recipe.name %>

          </a>

          </div>

          <a href="/recipes/<%= recipe.name %>">
           

            <img src="/img/Leonardo_Diffusion_XL_attractive_hot_pizza_incentive_commercia_<%= count %>.jpg" alt="">
          </a>

       
         

        </li>  
      <% count++} %>

      <%  count = 0 %>

    </ul>
  </main>

  <%- include('partials/footer')%>
  
</body>
</html>
