<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>O'Recipes</title>
  </head>
<body>

  <%- include('partials/header') %>

  <main>

    <div>

    <p> Recipe Name: <%= recipeFound.name %> </p>

    <p> Time to prepare: <%=recipeFound.preparationTime %></p>

    <p> Author: <%=recipeFound.author %></p>

    <p> Ingredients: <%=recipeFound.ingredients %></p>

  </div>


    <img src="/img/Leonardo_Diffusion_XL_attractive_hot_pizza_incentive_commercia_<%= rindexFound %>.jpg" alt="">



  </main>

<%- include('partials/footer') %>
  
</body>
</html>
